.store {
  position: relative;

  &__image {
    display: block;
    width: 100%;
    // object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
  }
}
