$main-white: #fff;
$main-black: #000;
$primary-color: #26b;
$text-color: #666;
$grey-color: #999;
$border-color: #eee;
$line-color: #e6e6e8;
$brown-color: #d26e4b;
$section-bg: #f6f7f9;
$footer-bg: #222;
