@import '../../assets/styles/_mixins.scss';

.banner {
  background: red;
  min-height: 50vh;
  background-image: url('../../assets/images/products-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;

  @include atLgScreen {
    min-height: 65vh;
  }
}
